@page
@model FoodOrderingWebsite.Pages.CartPageModel
@{
    ViewData["Title"] = "CartPage";
}

<h1>CartPage</h1>
@{
    decimal totalPrice = 0.0m;
    string orderlist = "";
    string resturantLocations = "";
  }
@foreach (var item in Model.Cart)
{
    <p>@item.FoodName | @item.FoodPrice | @item.ResturantName</p>
    <span hidden>@{ 
        totalPrice = totalPrice + item.FoodPrice;
        orderlist = orderlist + item.FoodName + ", ";
        resturantLocations = resturantLocations + ", " + item.ResturantId;
        }</span>
}

<p>Total Price @totalPrice</p>
<p>Total foods bought: @orderlist</p>
<p>Resturant Ids: @resturantLocations</p>
<form asp-page-handler="completeOrder" method="post" asp-route-foodBought="@orderlist" asp-route-totalPrice="@totalPrice" asp-route-resturantIds="@resturantLocations">
    <button>Complete Order</button>
</form>