@page "{id:int?}"
@model FoodOrderingWebsite.Pages.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<p>@Model.Resturant.ResturantName</p>
<p>@Model.Resturant.OpeningHours</p>
<p>
    MENU
    @if (!@Model.Resturant.Menu.Any())
    {
    <p>No Menu yet from this resturant</p>
}
else
{
    @foreach (var item in Model.Resturant.Menu)
    {
        <p>@item.FoodName</p>
        <p>@item.Price</p>
        <form asp-page-handler="orders" asp-route-foodName="@item.FoodName" asp-route-Id="@item.ResturantID"
              asp-route-foodPrice="@item.Price" asp-route-resturantName="@item.Resturant.ResturantName" method="post">
            <button>Add to orders</button>
        </form>
        <form asp-page="./Checkout" asp-route-foodName="@item.FoodName" asp-route-Id="@item.ID"
              asp-route-foodPrice="@item.Price" asp-route-resturantName="@item.Resturant.ResturantName" method="post">
            <button>Buy now</button>
        </form>
    }
}
