@page
@model IndexModel
@{
    ViewData["Title"] = "Home page ";
}

<div class="container">
    <form method="post" asp-antiforgery="true">

        <select asp-items="Model.LocationOptions" name="searchLocationParams">
            <option value="@ViewData["Location"]"></option>
        </select>
        <input type="text" value="@ViewData["FoodSearch"]" name="searchFoodParams" />
        <button type="submit" class="btn"> Search</button>
    </form>

    <div>
        @if (Model.ResturantList is null)
        {
            @foreach (var item in Model.FoodList)
            {
                <div>
                    @Html.DisplayFor(m => item.FoodName) |
                    @Html.DisplayFor(m => item.Price) |
                    @Html.DisplayFor(m => item.Description) |
                    <img src="~/uploads/@item.FoodImagesUriConcatenated"  width="100" height="100"/>
                    <form asp-page-handler="orders" asp-route-Id="@item.ResturantID" asp-route-foodName="@item.FoodName" asp-route-foodPrice="@item.Price" asp-route-resturantName="@item.Resturant.ResturantName" asp-route-foodSearch="@ViewData["FoodSearch"]" asp-route-locationSearch="@ViewData["Location"]">
                        <button>Add to orders</button>
                    </form>
                    <form asp-page="./Checkout" asp-route-foodName="@item.FoodName" asp-route-Id="@item.ID" asp-route-resturantId="@item.ResturantID"
                          asp-route-foodPrice="@item.Price" asp-route-resturantName="@item.Resturant.ResturantName" method="post">
                        <button>Buy now</button>
                    </form>
                </div>
            }

        }
        else
        {
            @foreach (var item in Model.ResturantList)
            {
                <p>
                    @Html.DisplayFor(m => item.ResturantName) |
                    @Html.DisplayFor(m => item.Address) |
                    @Html.DisplayFor(m => item.OpeningHours) |
                    <img src="~/uploads/@item.ResturantImagesUriConcatenated" width="100" height="100" />
                    <a asp-page="./Details" asp-route-id="@item.ID" asp-route-sender="resturant">Details</a>
                </p>
            }
        }

        <p>@ViewData["SearchError"]</p>

    </div>
</div>
