@page
@model IndexModel
@{
    ViewData["Title"] = "Home page ";
}

<div class="container">
    <form method="post" asp-antiforgery="true">
        
        <select asp-items="Model.LocationOptions" name="searchLocationParams">
             <option value="@ViewData["Location"]"></option>
        </select>
        <input type="text" value="@ViewData["FoodSearch"]" name="searchFoodParams" />
        <button type="submit" class="btn"> Search</button>
    </form>

    <div>
        @if (Model.ResturantList is null)
        {
            @foreach (var item in Model.FoodList)
            {
                <p>
                    @Html.DisplayFor(m => item.FoodName) |
                    @Html.DisplayFor(m => item.Price) | 
                    @Html.DisplayFor(m => item.Description) |
                    <a asp-page="./Details" asp-route-id="@item.ID" asp-route-sender="food">Details</a>
                </p>
            }

        }
        else
        {
            @foreach (var item in Model.ResturantList)
            {
                <p>
                    @Html.DisplayFor(m => item.ResturantName) |
                    @Html.DisplayFor(m => item.Address) |
                    @Html.DisplayFor(m => item.OpeningHours)
                    <a asp-page="./Details" asp-route-id="@item.ID" asp-route-sender="resturant">Details</a>
                </p>
            }
        }

        <p>@ViewData["SearchError"]</p>

    </div>
</div>
